
#include <iostream>
#include <vector>

#include <boost/python.hpp>

namespace bp = boost::python;

#include "bpbbo.hpp"
#include "rnnLayer.hpp"

BOOST_PYTHON_MODULE(bpbbo)
{

__INTERFACES__

  Py_Initialize();
  np::initialize();
}


